*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
html{
    font-size: 20px;
} */

header{
    width: 100%;
    height: 80vh;
    color:#fff;
    background-color: #f4511e;
}

#mynavigation{
    background-color: #f66e44;
    border: none;
}

#mynavigation a{
    color: #fff;
}


.banner{
    width: 50%;
    margin: 0 auto;
   position: relative;
    top:140px;    
} 

.banner h1{
    font-size: 60px;
    text-align:center;
}

.banner p{
    font-size: 18px;
}


/* second section */
.second{
    margin-top: 50px;
    /* background-color: khaki; */
}


.glyphicon{
    font-size: 250px;
    color: #f4511e;
    margin-top: 30px;
}


/* third section */


.wrapper{
    width:100%;
    margin-top: 120px;
    background-color: #f5f5f5;
}


.third{
    padding-top: 60px;
    padding-bottom: 60px;
    /* background-color: yellow; */
    
}

/* fourth section */

.fourth{
    margin-top: 80px;
    text-align: center;
}

.card{
    text-align: center;
}



.card .glyphicon{
    font-size: 80px;
}



/* fifth section */
.fifth-wrapper{
    width: 100%;
    margin-top: 130px;

    background-color: #f5f5f5;
}
.fifth{
    padding-top: 120px;
    /* background-color: red; */
    text-align: center;
}

.fifth .card{
    background-color:#fff;
}


.fifth .content{
    padding-bottom: 10px;
}

.fifth .card-image img{
    width: 100%;
}

/* sixth section */


.sixth{
    margin-top: 90px;
    padding-bottom: 120px;
}
.carousel-control.right, .carousel-control.left{
    background:none !important;
    color:red;
}

.carousel-inner .item{
    text-align: center;        
}

.item h4{
    margin:100px;
}

.item{
    margin: 72px;
    width: 60%;
    margin: 0 auto;
}
.left3 .glyphicon, .right3 .glyphicon{
    font-size: 20px;
}




.carousel-indicators li{
    border:1px solid red !important;
}


.carousel-indicators li.active{
    background-color: red;
    border:1px solid red !important;
}

/* seventh section */
.seventh{
    margin-top: 140px;
    text-align: center;
}

.panel{
    border: 1px grey solid;
}

.panel-heading{
    background-color: orangered !important;
    height: 100px;
}

.panel-heading h1{
    /* padding-top: 30px; */
    color: #fff;
}

.button1{
    height: 50px;
    width: 100px;
    background-color: orangered;
    color: #fff;
    border: none;   
    border-radius: 5px;
}

.panel-default .panel-footer{
    background: none !important;
    
}

.panel{
    border: 1px solid grey;
}


.panel-body{
    margin-top: 40px;
    margin-bottom: 40px;
}

/* eight section */
.eight{
    margin-top: 40px;
    padding-top: 150px;
    padding-bottom:150px;
    background-color: #f5f5f5;
}

.eight h1{
    margin-bottom: 80px;
}

.glph{
    color: grey;
}

.glph .glyphicon{
    font-size: 20px;
    color: grey;
}




/* ninth section */

.ninth{
    margin-top: 40px;
    width: 100%;
}

.ninth img{
    width: 100%;
}




@media only screen and (max-width: 576px)
{
    .banner h1{
        font-size: 40px;
    }
    .second .glyphicon{
        font-size: 200px;
    
    }

    #second  .right{
       text-align:center;
    }

    #second  .right{
       text-align:center;
    }
}


@media only screen and (max-width: 420px)
{
    .banner h1{
        font-size: 30px;
    }

    .fifth .card{
        background-color:#fff;
        margin: 20px 0px 20px 0px;
    }
    .second .glyphicon{
        font-size: 200px;
    
    }

    .third .glyphicon{
        font-size: 200px;
    }

    #second  .right{
       text-align:center;
    }

     #third  .right2{
       text-align:center;
    }


    
    

}


@media only screen and (max-width: 394px)
{
    .banner h1{
        font-size: 30px;
    }


    .banner p{
        font-size:8px;
    }

    .glyphicon{
        font-size: 20px;
        color: #f4511e;
        margin: 0 auto;
    }


    .fifth .card{
        background-color:#fff;
        margin: 20px 0px 20px 0px;
    }
    .second .glyphicon{
        font-size: 200px;
    }


     #second  .right{
       text-align:center;
    }


     #third  .right2{
       text-align:center;
    }

    .third .glyphicon{
        font-size: 200px;
    }

}

    


@media only screen and (max-width: 767px)
{
    .glyphicon{
        font-size:20px;
        margin: 0 auto;
    }
        .fifth .card{
            background-color:#fff;
            margin: 20px 0px 20px 0px;
        }

    .third .glyphicon{
        font-size: 200px;
    }


     #second  .right{
       text-align:center;
    }


     #third  .right2{
       text-align:center;
    }

    
}



@media only screen and (max-width: 576px)
{
    .banner h1{
        font-size: 40px;
    }


    .item h4{
        margin:50px 0px 90px 0px;
    }

    .fifth .card{
        background-color:#fff;
        margin: 10px 0px 10px 0px;
    }

    .third .glyphicon{
        font-size: 200px;
    }


     #second  .right{
       text-align:center;
    }


     #third  .right2{
       text-align:center;
    }


  
}
























